<ion-header (didChangeLocation)="locationChanged($event)"></ion-header>
<ion-content class="timetable-category">
  <div class="header-block header-block--centered">
    <h1 [innerHTML]="category.categoryName"></h1>
    <p>Showing results within 10k of <strong>{{cityName}}</strong></p>
  </div>
  <ion-list *ngFor="let day of serviceDays">
    <ion-list-header class="category-header">
      {{day.name}}
    </ion-list-header>
    <ion-item *ngFor="let provider of sortByOpeningTime(day.serviceProviders)" (click)="itemTapped(provider)">
      <h2>{{provider.openingTime.startTime}} - {{provider.openingTime.endTime}}</h2>
      <h3 [innerHTML]="provider.name"></h3>

      <p *ngIf="provider.tags.length > 0">You must be: {{provider.tags}}</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>
</ion-content>
