// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@font-face {
  font-family: "museo_sans_rounded500";
  src: url('../../fonts/MuseoSansRounded-500-webfont.ttf'),
       url('../../fonts/MuseoSansRounded-500-webfont.woff') format('woff');
}

@font-face {
  font-family: "museo_sans_rounded300";
  src: url('../../fonts/MuseoSansRounded-300-webfont.ttf'),
       url('../../fonts/MuseoSansRounded-300-webfont.woff') format('woff');
}

body {
  font-size: 16px;
  font-family: 'museo_sans_rounded300', sans-serif;
  line-height: 1.5;
}

p {
  margin:0 0 20px;
}

h1, h2, h3 {
  font-family: 'museo_sans_rounded500', sans-serif;
  font-weight: 500;
  margin: 0 0 20px 0;
  line-height: 1.3;
}

h1 {
  font-size: 35px;
  color: color($colors, accent);
  text-align: center;
}

h3 {
  font-size:19px;
}

.header {
  background: transparent url('../../images/header_bg.png') repeat 0 0;
  text-align: center;
  padding: 30px 20px;
}

.header__title {
  color: color($colors, body);
}

.header__copy {
  color: color($colors, secondary);
}

.content-block {
  padding: 20px 16px;
}
.content-block--centered {
  text-align: center;
}

.category-header {
  color:#5a497f;
  font-size: 1.4rem;
  font-weight: bold;
}

@import "../pages/find-help/find-help";
@import "../pages/about/about";
@import "../pages/home/home";
@import "../pages/organisation-list/organisation-list";
@import "../pages/organisation/organisation";
@import "../pages/organisation-service/organisation-service";
@import "../pages/help-category/help-category";
@import "../pages/help-category-detail/help-category-detail";
@import "../pages/timetabled-category/timetabled-category";
@import "../pages/timetabled-category-detail/timetabled-category-detail";
