<ion-header></ion-header>
<ion-content class="timetable-category-detail">
  <div class="header-block">
    <h1 class="header-block__heading" [innerHTML]="provider.name"></h1>
    <p [innerHTML]="provider.serviceInfo"></p>
    <p *ngIf="provider.tags.length > 0">You must be: {{provider.tags}}</p>
  </div>
  <div class="content-block">
    <h2>Location</h2>
    <p>
      <span *ngIf="provider.address.street" [innerHTML]="provider.address.street"><br></span>
      <span *ngIf="provider.address.street1" [innerHTML]="provider.address.street1"><br></span>
      <span *ngIf="provider.address.street2" [innerHTML]="provider.address.street2"><br></span>
      <span *ngIf="provider.address.street3" [innerHTML]="provider.address.street3"><br></span>
      <span *ngIf="provider.address.city" [innerHTML]="provider.address.city"><br></span>
      <span *ngIf="provider.address.postcode" [innerHTML]="provider.address.postcode"></span>
    </p>
  </div>
  <div class="cta-block">
    <button ion-button (click)="organisationButtonTapped(provider)">More about the organisation</button>
  </div>
</ion-content>
