<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img src="assets/images/logo.png" width="32" height="34" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="timetable-category-detail">
  <div class="header-block header-block--centered">
    <h1 [innerHTML]="provider.name"></h1>
    <div class="provider-detail">
      <h3 [innerHTML]="provider.serviceInfo"></h3>
      <p *ngIf="provider.tags.length > 0">You must be: {{provider.tags}}</p>
      <h2>Address</h2>
      <p class="provider-detail__address">
        <span *ngIf="provider.address.street" [innerHTML]="provider.address.street"><br></span>
        <span *ngIf="provider.address.street1" [innerHTML]="provider.address.street1"><br></span>
        <span *ngIf="provider.address.street2" [innerHTML]="provider.address.street2"><br></span>
        <span *ngIf="provider.address.street3" [innerHTML]="provider.address.street3"><br></span>
        <span *ngIf="provider.address.city" [innerHTML]="provider.address.city"><br></span>
        <span *ngIf="provider.address.postcode" [innerHTML]="provider.address.postcode"></span>
      </p>
      <button ion-button (click)="organisationButtonTapped(provider)">More about {{provider.name}}</button>
    </div>
  </div>
</ion-content>
