<ion-navbar *navbar primary>
  <ion-title>
    <img src="images/logo.png" width="32" height="34" />
  </ion-title>
</ion-navbar>

<ion-content class="organisation">
  <div class="header-block">
    <h1 class="header-block__heading">{{organisation.name}}</h1>
    <p class="header-block__sub-heading">{{organisation.shortDescription}}</p>
    <p>{{organisation.description}}</p>
  </div>
  <div *ngFor="let address of organisation.addresses">
    <div class="content-block">
      <h2>Location</h2>
      <p>
        <span *ngIf="address.street">{{address.street}}, </span>
        <span *ngIf="address.street1">{{address.street1}}, </span>
        <span *ngIf="address.street2">{{address.street2}}, </span>
        <span *ngIf="address.street3">{{address.street3}}, </span>
        <span *ngIf="address.city">{{address.city}}, </span>
        <span *ngIf="address.postcode">{{address.postcode}}</span>
      </p>
    </div>
    <div class="content-block">
      <h2>Opening Times</h2>
      <dl class="result-detail__times-list" *ngFor="let time of address.openingTimes">
        <dt>{{time.day}}</dt>
        <dd class="result-detail__times-item">{{time.startTime}} - {{time.endTime}}</dd>
      </dl>
    </div>
  </div>
  <div class="wrapper">
    <h2>Services Provided</h2>
  </div>
  <ion-list>
    <ion-item no-padding *ngFor="let service of sortAlphabetically(organisation.providedServices)" (click)="itemTapped(event, service)">
      {{service.name}}
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <div class="cta-block">
    <button (click)="presentActionSheet()">Contact {{organisation.name}}</button>
  </div>
</ion-content>
