<ion-navbar *navbar primary>
  <ion-title>
    <img src="images/logo.png" width="32" height="34" />
  </ion-title>
  <ion-buttons end>
    <button (click)="changeLocation()">
      <ion-icon isActive="{{locationEnabled}}" name="pin"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="help-category">
  <div class="content-block content-block--centered">
    <h1>{{category.name}}</h1>
    <p>Showing {{category.name}} results within 10k of
      <strong *ngIf="locationEnabled">your location</strong>
      <strong *ngIf="!locationEnabled">Greater Manchester</strong>.
    </p>
  </div>

  <ion-list *ngFor="let subcategory of sortAlphabetically(category.subCategories)">
    <ion-list-header class="category-header">
      {{subcategory.name}}
    </ion-list-header>
    <ion-item *ngFor="let provider of subcategory.serviceProviders" (click)="itemTapped(event, provider)">
      <h2>{{provider.name}}</h2>
      <p *ngIf="provider.tags.length > 0">You must be: {{provider.tags}}</p>
      <button clear item-right>View</button>
    </ion-item>
  </ion-list>
</ion-content>
