<ion-header></ion-header>
<ion-content class="needs-list">
  <div class="section-header">
    <h1 class="section-header__title">My Needs</h1>
    <p class="section-header__copy">To manage your needs, please visit: <a
        href="https://admin.streetsupport.net">admin.streetsupport.net</a></p>
  </div>
  <ion-list>
    <ion-item *ngFor="let need of mungedNeeds" (click)="itemTapped(event, need)">
      <ion-badge class="need__badge" color="warning" *ngIf="need.hasResponses" [innerHTML]="need.responsesLabel">
      </ion-badge>
      <span [innerHTML]="need.description"></span>
      <ion-icon *ngIf="need.hasResponses" name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
