<ion-header></ion-header>
<ion-content class="timetable-category-detail">
  <div class="header-block">
    <h1 class="header-block__heading" [innerHTML]="provider.serviceProviderName"></h1>
    <p [innerHTML]="synopsis"></p>
    <p *ngIf="provider.tags.length > 0">You must be: {{provider.tags}}</p>
  </div>
  <div class="content-block">
    <h2>Location</h2>
    <p>
      <span *ngIf="provider.location.streetLine1" [innerHTML]="provider.location.streetLine1">, </span>
      <span *ngIf="provider.location.streetLine2" [innerHTML]="provider.location.streetLine2">, </span>
      <span *ngIf="provider.location.streetLine3" [innerHTML]="provider.location.streetLine3">, </span>
      <span *ngIf="provider.location.city" [innerHTML]="provider.location.city">, </span>
      <span *ngIf="provider.location.postcode" [innerHTML]="provider.location.postcode"></span>
    </p>
    <p>&nbsp;</p>
    <h3>Opening Times</h3>
    <dl class="result-detail__times-list" *ngFor="let time of provider.openingTimes">
      <dt>{{time.day}}</dt>
      <dd class="result-detail__times-item">{{time.startTime}} - {{time.endTime}}</dd>
    </dl>
  </div>
  <div class="cta-block">
    <button ion-button (click)="organisationButtonTapped(provider)">More about the organisation</button>
  </div>
</ion-content>
