<ion-navbar *navbar primary>
  <ion-title>
    <img src="images/logo.png" width="32" height="34" />
  </ion-title>
</ion-navbar>

<ion-content padding class="organisation-service">
  <h1>{{service.name}}</h1>
  <p>{{service.info}}</p>
  <p>You must be: {{service.tags}}</p>
  <p>
    <span *ngIf="service.address.street">{{service.address.street}}, </span>
    <span *ngIf="service.address.street1">{{service.address.street1}}, </span>
    <span *ngIf="service.address.street2">{{service.address.street2}}, </span>
    <span *ngIf="service.address.street3">{{service.address.street3}}, </span>
    <span *ngIf="service.address.city">{{service.address.city}}, </span>
    <span *ngIf="service.address.postcode">{{service.address.postcode}}</span>
  </p>
  <ul class="result-detail__times-list">
    <li *ngFor="let time of service.openingTimes">
      <span>{{time.day}}</span>
      <span class="result-detail__times-item">{{time.startTime}} - {{time.endTime}}</span>
    </li>
  </ul>
</ion-content>
